#content.wide { /* set when there is no sidebar */
	margin-left: 10px;
}
.brand {
	color: #008040;
}
#resetPassword { /* make the button look like a link */
	background: none;
	border: none;
	color: #0E9749;
}

#preview img {
	display: block;
}
#preview div a {
	border: none;
}
#preview .edit {
	float: right;
	width: 70px;
	text-align: center;
}
#preview .edit img {
	margin: 0 auto;
}

.articleimg {
	float: right;
	padding: 5px;
	border: 1px solid #EEE;
	margin: 20px 20px 20px 0;
}
.navimage {
	float: left;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #EEE;
}
a:hover .navimage {
	border: 1px solid #000;
}

#mainbar {
	float: left;
}
#mainbar p {
	float: left;
	clear: left;
}

#critLogic { /* dynamic group criteria */
	margin: 2px;
	padding: 7px;
	background: #E6EAFF;
	border: 1px solid #000;
}

.bg1 {
	background-color: #B7CFEC;
}
.bg2 {
	background-color: #87ADDC;
}

.lightbox {
	display: none;
	position: absolute;
	z-index: 1001;
	overflow: auto;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 65%;
	padding: 1em;
	border: 1em solid #B8B8B8;
	background: #FFF;
	text-align: left;
	color: #333;
}

fieldset,
.alert,
.error {
	clear: right;
}

.reorder {
	margin-bottom: .5em;
}
.reorder div {
	margin: 1px;
	border: 1px solid #DDD;
}
.reorder div div {
	border-color: #EEE;
}
.reorder span {
	margin-left: 30px;
	text-align: center;
}
.reorder #demoOrder span {
	margin-left: 40px;
}
#content .reorder a {
	border: none;
	text-decoration: none;
}

#body { /* email body textarea */
	width: 368px;
}
.handle {
	cursor: move;
	cursor: s-resize;
}
#content .htmlarea a {
	border-bottom: none !important;
}
.inpage_menu {
	padding-top: .5em;
	text-align: right;
}

.inpage_menu li {
	display: inline;
	padding: .5em 1em;
}

.msgheaders,
.msgpreview {
	padding: 5px;
}
.msgheaders {
	background: #E6ECDA;
}
.msgpreview {
	background: #F6F8F1;
}

.count { /* shows the number of records */
	margin: 0;
	text-align: right;
	font-size: 80%;
	color: #666;
}

/* Forms */

.notes { /* inline help */
	font-size: 90%;
	color: #666;
	font-style: italic;
}

.sorting label { /* oftern appear before tables for filtering */

}

.controls ul { /* oftern appear after tables for checkbox selection */
	display: inline;
	margin: 0;
	padding: 0;
}
.controls ul li {
	list-style: none;
	display: inline;
	padding: 0 .3em;
}

.page_list { /* links numbers to paginate long lists of results */
	margin: .5em 0;
	padding: 2px;
	background: #E8FFBA;
}

/* Table */
table span {
	font-size: 80%;
}
.alt1,
.alt2 {
	text-align: center;
}
.alt1 {
	background: #DDD;
}
.alt2 {
	background: #FFF;
}