## editors
/nbproject/
/.settings/
/.project
/.pydevproject
/.classpath
/.buildpath
/.vscode
.idea/
*.iml
*~
*.swp
*.swo

## compiled source
*.js.map
*.css.map
*.com
*.class
*.dll
*.exe
*.o
*.so

## misc
*.tmp
.DS_Store
Thumbs.db
