/* Very basic stylesheet to show you the layout sections */
/* Customise to your site */
body {
	background: #FFF;
	font-family: "Trebuchet MS", Arial, Verdana sans-serif;
	color: #555;
}

div {
	margin: .2em;
	padding: .5em;
}

a img {
	border: none;
}

#header,
#footer {
	background: #E8FFBA;
	border: 1px solid green;
}

#content {
	border: 1px solid #999;
	color: #000;
}